astroid==2.2.5
blinker==1.4
Click==7.0
colorama==0.4.1
cycler==0.10.0
Flask==1.0.2
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.4.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
isort==4.3.17
itsdangerous==1.1.0
Jinja2==2.10.1
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
numpy==1.16.3
pylint==2.3.1
PyMySQL==0.9.3
pyodbc==4.0.26
pyparsing==2.4.0
python-dateutil==2.8.0
python-editor==1.0.4
six==1.12.0
SQLAlchemy==1.2.18
typed-ast==1.3.4
Werkzeug==0.14.1
wrapt==1.11.1
WTForms==2.2.1
