{% extends 'base.html' %}

{% block title %}
    Create New Ticket
{% endblock %}

{% block head %}
    <style>
    h3{
        text-align: center;
    }
    table tbody tr td:nth-child(1){
        background-color: rgb(1, 79, 40);
        color: white;
        text-align: right;
    }
    .table-container{
        width: 500px;
        margin: 0 auto;
    }

    table{
        width: 100%;
    }

    table tr{
        height: 30px;
    }

    input[type='text']{
        width: 90%;
    }

    div.submit{
        text-align: center;
    }



    </style>
{% endblock %}
{% block body %}
<h3>Create Ticket</h3>
<form method="POST">
        <label for="title">Title</label>
        <input class="ticket_info" type="text" placeholder="Title" id="title" name="title"> <br> 
        <label for="department"></label>
        <input class="ticket_info"> 
        <label for="description">Description</label> 
        <input class="ticket_info" type="text" placeholder="Description" name="description"> <br>
</form>


