<html>
<style>
.content {
  max-width: 500px;
  margin: auto;
}
  
#tickForm {
  display: none;
  align: center;
}
  
 #f1 {
   width: 100%;
   align: center;
}
  
</style>
<body class="content">
<h1>Create a Ticket Test:</h1>
<button onclick="startTicket()">Start a Ticket</button><br><br>
<div id="tickForm">
<form>
  <fieldset id="f1">
    <legend>Ticket Information</legend>
  </fieldset>
  </form>
</div>
</body>
<script>
function startTicket() {
  var x = document.getElementById("tickForm");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>
</html>
 