{% extends 'base.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block head %}
    <style>
    .ticket_queue table{
        width: 1000px;
        margin: 0 auto;
    }

    .ticket_queue h3{
        text-align: center;
    }

    </style>
{% endblock %}
{% block body %}
    <div class="dashboard_view_tickets">
        {% if show_ticket_queue %}
            <h3 align="center">Current Ticket Queue</h3>
        <table class="table" width="500" cellpadding="31" cellspacing="0" align="center">
            <thead>
                <tr>
                    <th>Ticket</th>
                    <th>Description</th>
                    <th>User</th>
                    <th>Category</th>
                    <th>Department</th>
                    <th>Last Modified</th>
                    <th>Status</th>
                    <th>Commands</th>
                </tr>
            </thead>
            <tbody>
                {% for t in tickets_queue %}
                <tr>
                    <td>{{ t.ticket_id }}</td>
                    <td>{{ t.description }}</td>
                    <td>{{ t.username }}</td>
                    <td>{{ t.category }}</td>
                    <td>{{ t.department }}</td>
                    <td>TODO</td>
                    <td>{{ t.status }}</td>
                    <td>
                            <button>View</button> <!--TODO Open Ticket-->
                    </td>
                </tr>
                    {% endfor %}
            </tbody>

        </table>
        {% endif %}

        <h3 align="center">My Open Tickets</h3>
        <table class="table" width="500" cellpadding="31" cellspacing="0" align="center">
            <thead>
                <tr>
                        <th>Ticket</th>
                        <th>Description</th>
                        <th>User</th>
                        <th>Category</th>
                        <th>Department</th>
                        <th>Last Modified</th>
                        <th>Status</th>
                        <th>Commands</th>
                </tr>
            </thead>
            <tbody>
                {% for t in my_tickets %}
                <tr>
                        <td>{{ t.ticket_id }}</td>
                        <td>{{ t.description }}</td>
                        <td>{{ t.username }}</td>
                        <td>{{ t.category }}</td>
                        <td>{{ t.department }}</td>
                        <td>TODO</td>
                        <td>{{ t.status }}</td>
                        <td>
                            <button=""">View</button>
                        </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}