{% extends 'base.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block head %}
    <style>
    .ticket_queue table{
        width: 800px;
        margin: 0 auto;
    }

    .ticket_queue h3{
        text-align: center;
    }

    </style>
{% endblock %}
{% block body %}
    <div class="dashboard_view_tickets">
        <h3>IT Ticket Queue</h3>
        <table class="table" width="500" cellpadding="10" cellspacing="0" align="center">
            <thead>
                <tr>
                    <th>Ticket</th>
                    <th>Status</th>
                    <th>Category</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>User</th>
                    <th>Department</th>
                    <th>Date Created</th>
                    <th>Last Modified</th>
                    <th>Commands</th>
                </tr>
            </thead>
            <tbody>
                {% for t in tickets_queue %}
                <tr>
                    <td>{{ t.ticket_id }}</td>
                    <td>{{ t.status }}</td>
                    <td>{{ t.category }}</td>
                    <td>{{ t.title }}</td>
                    <td>{{ t.description }}</td>
                    <td>{{ t.user_id }}</td>
                    <td>{{ t.department }}</td>
                    <td>{{ t.create_dt }}</td>
                    <td>TODO</td>
                    <td>
                            <button>View</button> <!--TODO Open Ticket-->
                    </td>
                </tr>
                    {% endfor %}
            </tbody>

        </table>
        <h3>My Tickets</h3>
        <table class="table" width="500" cellpadding="10" cellspacing="0" align="center">
            <thead>
                <tr>
                    <th>Ticket</th>
                    <th>Status</th>
                    <th>Category</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>User</th>
                    <th>Department</th>
                    <th>Date Created</th>
                    <th>Last Modified</th>
                    <th>Commands</th>
                </tr>
            </thead>
            <tbody>
                {% for t in my_tickets %}
                <tr>
                    <td>{{ t.ticket_id }}</td>
                    <td>{{ t.status }}</td>
                    <td>{{ t.category }}</td>
                    <td>{{ t.title }}</td>
                    <td>{{ t.description }}</td>
                    <td>{{ t.user_id }}</td>
                    <td>{{ t.department }}</td>
                    <td>{{ t.create_dt }}</td>
                    <td>TODO</td>
                    <td>
                        <button>View</button> <!--TODO Open Ticket-->
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}