{% extends 'base.html' %}

{% block title %}
    Edit Your Account
{% endblock %}

{% block head %}
<style>
    .ticket_queue table{
        width: 1000px;
        margin: 0 auto;
    }

    .ticket_queue h3{
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    </style>
{% endblock %}
{% block body %}
<br></br>
    <div class="table-container">
        <h1 align="center">Edit Account</h1>
        <form action="" method="post"></form>
        <table class="table" width="500" cellpadding="10" cellspacing="0" align="center">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center">{{ current_user.first_name + " " + current_user.last_name }}</td>
                    <td align="center">{{ current_user.username }}</td>
                    <td align="center">{{ current_user.email}}</td>
                    <td><input type="text" value="" name="password"></td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
    <br></br>
        <div align="center" class="submit">
            <button type="submit" style="width: 100px; margin-top: 8px;">Save</button>
        </div>
{% endblock %}