{% extends 'base.html' %}

{% block title %}
    Edit User Account
{% endblock %}

{% block head %}
<style>
    .ticket_queue table{
        width: 1000px;
        margin: 0 auto;
    }

    .ticket_queue h3{
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    </style>
{% endblock %}
{% block body %}
<br></br>
    <div class="table-container">
        <h1 align="center">Edit Account</h1>
        <form action="" method="post">
        <table class="table" width="500" cellpadding="10" cellspacing="0" align="center">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Email Address</th>
                    <th>Account Level</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" value="{{ u.first_name }}" name="first_name"></td>
                    <td><input type="text" value="{{ u.last_name }}" name="last_name"></td>
                    <td><input type="text" value="{{ u.username }}" name="username"></td>
                    <td><input type="text" value="{{ u.email }}" name="email_address"></td>
                    <td><select name="user_level">
                        <option value="1"{% if u.level=='1' %} selected="selected"{% endif %}>User</option>
                        <option value="2"{% if u.level=='2' %} selected="selected"{% endif %}>IT</option>
                        <option value="3"{% if u.level=='3' %} selected="selected"{% endif %}>Admin</option>
                    </select></td>
                    <td><a href=/password_reset> <button>Reset Password</button></a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <br></br>
        <div align="center" class="submit">
            <button type="submit" style="width: 100px; margin-top: 8px;">Save</button>
        </div>
    </form>
{% endblock %}

