{% extends 'base.html' %}

{% block title %}
    Users
{% endblock %}

{% block head %}
    <style>
    h3{
        text-align: center;
    }
    table tbody tr td:nth-child(1){
        background-color: rgb(1, 79, 40);
        color: white;
        text-align: right;
    }
    .table-container{
        width: 500px;
        margin: 0 auto;
    }

    table{
        width: 100%;
    }

    table tr{
        height: 30px;
    }

    input[type='text']{
        width: 90%;
    }

    div.submit{
        text-align: center;
    }



    </style>
{% endblock %}
{% block body %}
    <h3 align="center"> Edit User: {{ u.username }}</h3>
    <form action="" method="post">
    <div class="table-container">
    <table border="1" cellspacing="0">
            <tbody>
            <tr>
                <td>First Name:</td>
                <td><input type="text" value="{{ u.first_name }}" name="first_name"></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" value="{{ u.last_name }}" name="last_name"></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><input type="text" value="{{ u.username }}" name="username"></td>
            </tr>
            <tr>
                <td>Email Address:</td>
                <td><input type="text" value="{{ u.email }}" name="email_address"></td>
            </tr>
            <tr>
                    <td>Department: </td>
                    <td><select name="department" id="">
                        <option value="1" {% if u.department==1 %}selected="selected"{% endif %}>Accounting</option>
                        <option value="2" {% if u.department==2 %}selected="selected"{% endif %}>Administration</option>
                        <option value="3" {% if u.department==3 %}selected="selected"{% endif %}>Dispatch</option>
                        <option value="4" {% if u.department==4 %}selected="selected"{% endif %}>Gateway</option>
                        <option value="5" {% if u.department==5 %}selected="selected"{% endif %}>Human Resources</option>
                        <option value="6" {% if u.department==6 %}selected="selected"{% endif %}>Information Technology</option>
                        <option value="7" {% if u.department==7 %}selected="selected"{% endif %}>Maintenance</option>
                        <option value="8" {% if u.department==8 %}selected="selected"{% endif %}>Marketing</option>
                        <option value="9" {% if u.department==9 %}selected="selected"{% endif %}>Operations</option>
                        <option value="10" {% if u.department==10 %}selected="selected"{% endif %}>Planning</option>
                        <option value="11" {% if u.department==11 %}selected="selected"{% endif %}>Scheduling</option>
                        <option value="12" {% if u.department==12 %}selected="selected"{% endif %}>Training</option>
                    </select></td>
                </tr>
            <tr>
                <td>Account Level:</td>
                <td><select name="user_level">
                    <option value="1"{% if u.level=='1' %} selected="selected"{% endif %}>User</option>
                    <option value="2"{% if u.level=='2' %} selected="selected"{% endif %}>IT</option>
                    <option value="3"{% if u.level=='3' %} selected="selected"{% endif %}>Admin</option>
                </select></td>
            </tr> 
            <tr>
                    <td>Password:</td>
                    <td><input type="text" value="{{ u.password }}" name="password"></td>
                </tr>
        </tbody>
    </table>
    <div class="submit">
        <button type="submit">Save</button>
    </div>
    </div>
    </form>

{% endblock %}

