{% extends 'base.html' %}

{% block title %}
    Create New Ticket
{% endblock %}

{% block head %}
    <style>
    h3{
        text-align: center;
    }
    table tbody tr td:nth-child(1){
        background-color: rgb(1, 79, 40);
        color: white;
        text-align: right;
    }
    .table-container{
        width: 500px;
        margin: 0 auto;
    }

    table{
        width: 100%;
    }

    table tr{
        height: 30px;
    }

    input[type='text']{
        width: 90%;
    }

    div.submit{
        text-align: center;
    }



    </style>
{% endblock %}
{% block body %}
    <h3>Create New Ticket</h3>
    <form action="" method="post">
    <div class="table-container">
    <table border="1" cellspacing="0">
        <tbody>
            <tr>
                <td>Requestor:</td>
                <td><input type="text" value="" name="requestor"></td>
            </tr>
            <tr>
                <td>Category:</td>
                <td><select name="category" id="">
                    {% for s in status %}
                        <option value="{{ s.category }}" {% if t.status==s.category %}selected="selected"{% endif %}>Network</option>
                        <option value="{{ s.category }}" {% if t.status==s.category %}selected="selected"{% endif %}>Hardware</option>
                        <option value="{{ s.category }}" {% if t.status==s.category %}selected="selected"{% endif %}>Software</option>
                        <option value="{{ s.category }}" {% if t.status==s.category %}selected="selected"{% endif %}>Phone</option>
                        <option value="{{ s.category }}" {% if t.status==s.category %}selected="selected"{% endif %}>Printer</option>
                        <option value="{{ s.category }}" {% if t.status==s.category %}selected="selected"{% endif %}>Account Permissions</option>
                        <option value="{{ s.category }}" {% if t.status==s.category %}selected="selected"{% endif %}>Server</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><textarea name="description" id="" cols="50" rows="5"></textarea></td>
            </tr>
        </tbody>
    </table>
    <div class="submit">
        <button type="submit" style="width: 100px; margin-top: 8px;">Create</button>
    </div>
    </div>
    </form>
{% endblock %}