
{% block body %}
    <style>
    .content {
        max-width: 500px;
        margin: auto;
    }
    #tickForm {
      display: none;
      align: center;
    }
      
      #f1 {
        width: 100%;
        align: center;
    }
    .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
    </style>
    <body>
        <div class="content">
      <br>
      <div class="logo">
            <img width="250px" src="{{ url_for('static', filename='images/logo.png') }}" alt="">
        </div>
    <h1>Reset Account Password:</h1>
    <div class="tooltip">How Does This Work?
            <span class="tooltiptext">An Email Will be sent to the email linked to the entered account name with the new email for the account!</span>
          </div>
          <br><br>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <legend>Enter Acount Username Below</legend>
        <p>
        {{ form.accUsername.label }}
        {{ form.accUsername(size=32) }}
        </p><br>
      <p>
          {{ form.submit() }}
      </p>
      </form>
      </div>
    </div>
    </body>

{% endblock %}
