{% extends 'base.html' %}
{% block body %}
    <style>
      
    #tickForm {
      display: none;
      align: center;
    }
      
      #f1 {
        width: 100%;
        align: center;
    }
      
    </style>
    <body>
      <br>
      <br>
    <h1>Update Your Ticket</h1>
    <form action="" method="post" novalidate>
        <fieldset>
        {{ form.hidden_tag() }}
        <legend>Update the Fields Below</legend>
        <p>
        {{ form.ticketTitle.label }}
        {{ form.ticketTitle(size=32) }}
        </p><br>
        <p>
          {{form.ticketDepartment.label}}
          {{form.ticketDepartment()}}
        </p><br>
      <p>
          {{ form.ticketCategory.label }}
          {{ form.ticketCategory() }}
      </p><br>
        <p>
          {{ form.ticketDescription.label }}
          {{ form.ticketDescription(size=128) }}
      </p>
      <p>
            {{ form.ticketStatus.label }}
            {{ form.ticketStatus(size=128) }}
        </p>
        <p>
                {{ form.ticketComment.label }}
                {{ form.ticketComment(size=128) }}
            </p>
            <p><br>
        <p><br>
      <p><br>
          {{ form.submit() }}
      </p>
    </fieldset>
      </form>
    </div>
    </body>

{% endblock %}
