{% block body %}
<style>
    .content {
        max-width: 500px;
        margin: auto;
    }

    #tickForm {
        display: none;
        align: center;
    }

    #f1 {
        width: 100%;
        align: center;
    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;

        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
</style>

<body>
    <div class="content">
        <br>
        <div class="logo">
            <img width="250px" src="{{ url_for('static', filename='images/logo.png') }}" alt="">
        </div>
        {{current_user}}
        <h1>Update Account Password:</h1>
        <br>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <legend>Enter Password Information Below</legend>
            <p>
                {{ form.oldpassword.label }}
                {{ form.oldpassword(size=32) }}
                {% for error in form.oldpassword.errors %}
                <br>
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}            
            </p>
            <p>
                {{ form.newpassword.label }}
                {{ form.newpassword(size=32) }}
                {% for errors in form.newpassword.errors %}
                <br>
                <span style="color: red;">[{{ errors }}]</span>
                {% endfor %}           
            </p>
            <p>
                {{ form.verifypassword.label }}
                {{ form.verifypassword(size=32) }}
                {% for errorss in form.verifypassword.errors %}
                <br>
                <span style="color: red;">[{{ errorss }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    </div>
    </div>
</body>

{% endblock %}