{% extends 'base.html' %}

{% block title %}
    Users
{% endblock %}

{% block head %}
    <style>
    .ticket_queue table{
        margin: 0 auto;
    }

    .ticket_queue h3{
        text-align: center;
    }

    div.table-head{
        width: 100%;
        margin: 0 auto;
    }

     button.edit {
        /* background-color: rgb(1, 79, 40); */
        color: black;
        border-radius: 5px;
        border: 0;
        padding: 4px;
        margin: 2px;
        outline: none;
    } 

    div.table-left{
        float: left;
    }
    div.table-right{
        float: right;
    }

    </style>

{% endblock %}
{% block body %}
    <div class="ticket_queue">
        <div class="table-head">
            <div class="new-user-btn" ></div>
            <br></br>
            <br></br>
            <div align="center" class="new-user-btn" >
                <button><a href="{{ url_for('add_user') }}">Add New User</a></button>
            </div>
        </div>
        <div class="table-left">
            <h3 align="center">Active Users</h3>
            <table class="table" width="500" cellpadding="10" cellspacing="0" align="center">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Level</td>
                        <td>Name</td>
                        <td>Commands</td>
                    </tr>
                </thead>
                <tbody>
                    {% for u in active_users %}
                        <tr>
                            <td>{{ u.user_id }}</td>
                            {% if u.level=='1' %}
                                <td>User</td>
                            {% elif u.level == '2' %}
                                <td>IT</td>
                            {% elif u.level == '3' %}
                                <td>Admin</td>
                            {% endif %}
                            <td>{{ u.first_name + ' ' + u.last_name }}</td>
                            <td>
                                <button class="edit"><a href="{{ url_for('edit_user', id=u.user_id) }}">Edit</a></button>
                                <button id="deactive_user" post_url="{{ url_for('deactive', id=u.user_id) }}">Deactivate</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table-right">
            <h3 align="center">Inactive Users</h3>
            <table class="table" width="500" cellpadding="10" cellspacing="0" align="center">
            <thead>
                    <tr>
                        <td>ID</td>
                        <td>Level</td>
                        <td>Name</td>
                        <td>Commands</td>
                    </tr>
            </thead>
        <tbody>
            {% for u in inactive_users %}
                <tr>
                    <td>{{ u.user_id }}</td>
                    {% if u.level=='1' %}
                        <td>User</td>
                    {% elif u.level == '2' %}
                        <td>IT</td>
                    {% elif u.level == '3' %}
                        <td>Admin</td>
                    {% endif %}
                    <td>{{ u.first_name + ' ' + u.last_name }}</td>
                    <td>
                        <button><a href="{{ url_for('edit_user', id=u.user_id) }}">Edit</a></button>
                        <button id="active_user" post_url="{{ url_for('active', id=u.user_id) }}">Activate</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("button#deactive_user").click(function () {
                var user_id = $(this).attr("user_id");
                var url = $(this).attr("post_url");
                if(confirm("Are you sure you want to deactivate this user account?")){
                    $.ajax({
                        url: url,
                        method: "post",
                        success: function (status, data) {
                            location.reload();
                        },
                        error: function (status, data) {
                            alert("Failed to deactivate user account!");
                        }
                    })
                }
            });
            $("button#active_user").click(function () {
                var user_id = $(this).attr("user_id");
                var url = $(this).attr("post_url");
                if(confirm("Are you sure you want to reactivate this user account?")){
                    $.ajax({
                        url: url,
                        method: "post",
                        success: function (status, data) {
                            location.reload();
                        },
                        error: function (status, data) {
                            alert("Failed to activate user account!");
                        }
                    })
                }
            });
        })
    </script>

{% endblock %}

