{% extends 'base.html' %}
{% block body %}
    <title>View Report</title>
    <style>
        h1 {
            text-align: center
        }
        div {
            text-align: center
        }
    </style>
    <p>
        <br>
         <h1>Report for Tickets By {{ selection.choice }} </h1>
        {% if ( selection.choice == "Category" ) %}
         <div>
        <img src= {{ fileSavePath }} alt="Report">    
        </div>
        {% endif %}
        {% if ( selection.choice == "Department" ) %}
         <div>
        <img src= {{ fileSavePath }} alt="Report">    
        </div>
        {% endif %}
        {% if ( selection.choice == "Status" ) %}
         <div>
        <img src= {{ fileSavePath }} alt="Report">    
        </div>
        {% endif %}
        <a href={{ fileSavePath }} download> <button>Download Above Report</button></a>
    </p>
{% endblock %}