{% extends "base.html" %}

{% block head %}
{% endblock %}
<style>
    .ticket_queue table{
        width: 1000px;
        margin: 0 auto;
    }

    .ticket_queue h3{
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    </style>

{% block body %}
<br></br>
<br></br>
<br></br>
    <div align="center" class="table-container">
        <h1 align="center">Ticket Details</h1>
        <button onclick="location.href='{{ url_for("update_ticket", ticket_id=ticket.ticket_id) }}'">Update</button>
        <br></br>
        <table class="table" width="500" cellpadding="10" cellspacing="0" align="center">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Title</th>
                    <th>Requestor</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Created</th>
                    <th>Last Modified</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ ticket.status }}</td>
                    <td>{{ ticket.title }}</td>
                    <td>{{ ticket.username }}</td>
                    <td>{{ ticket.category }}</td>
                    <td>{{ ticket.description }}</td>
                    <td>{{ ticket.create_dt }}</td>
                    <td>{{ ticket.last_update_dt }}</td>
                    <td>{{ ticket.days_open }} days</td>
                </tr>
            </tbody>
        </table>
        {% for event in ticket_history_events %}
            <div style="width: 650px;">
                <p style="border:3px; border-style: solid; border-width: 2px; border-radius: 5px; text-align: left; background-color: lightgray">
                    <b>{{ event.Date }}</b><br/>  
                    <b>Updated by</b>: {{ event.Entered_By }}<br/>  

                    {% if event.Category != 'None' %}
                    <b>Category</b>: {{ event.Category }}<br/>  
                    {% endif %}

                    {% if event.Title != 'None' %}
                    <b>Title</b>: {{ event.Title }}<br/>  
                    {% endif %}

                    {% if event.Status != 'None' %}
                    <b>Status</b>: {{ event.Status }}<br/>  
                    {% endif %}

                    {% if event.Department != 'None' %}
                    <b>Department</b>: {{ event.Department }}<br/>  
                    {% endif %}

                    {% if event.Description != 'None' %}
                    <b>Description</b>: {{ event.Description }}<br/>  
                    {% endif %}

                    {% if event.Comment != 'None' %}
                    <b>Comment</b>: {{ event.Comment }}<br/>  
                    {% endif %}  
            
                </p>    
            </div>
        {% endfor %}

    </div>  
{% endblock %}