{% extends "base.html" %}
{% block title %}View All Tickets{% endblock %}
{% block head %}
    <style type="text/css">
        .important { color: #336699; }
        div.view_all{
            width: 800px;
            margin: 0 auto;
        }
        table{
            width: 100%;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="view_all">
        <h3 align="center">Ticket History</h3>
        <p class="important">
        </p>
        <table class="table" width="500" cellpadding="16" cellspacing="0" align="center">
        <thead>
            <tr>
                <th>Ticket</th>
                <th>Description</th>
                <th>Requestor</th>
                <th>Category</th>
                <th>Department</th>
                <th>Created</th>
                <th>Last Modified</th>
                <th>Status</th>
                <th>Commands</th>
            </tr>
        </thead>
        <tbody>
            {% for t in tickets %}
                <tr>
                    <td>{{ t.ticket_id }}</td>
                    <td>{{ t.description }}</td>
                    <td>{{ t.first_name + ' ' + t.last_name }}</td>
                    <td>{{ t.category }}</td>
                    <td>{{ t.department }}</td>
                    <to>{{ t.create_dt }}</td>
                    <td> {{ t.last_update_dt }} </td>
                    <td>{{ t.status }}</td>
                    <td><button>View</button></td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}
