{% extends "base.html" %}
{% block title %}View All Tickets{% endblock %}
{% block head %}
    <style type="text/css">
        .important { color: #336699; }
        div.view_all{
            width: 800px;
            margin: 0 auto;
        }
        table{
            width: 100%;
        }
    </style>
{% endblock %}
{% block body %}
<br></br>
<br></br>
    <div class="view_all">
        <h3 align="center">Ticket History</h3>
        <p class="important">
        </p>
        <table class="table" width="1000" cellpadding="10" cellspacing="0" align="center">
            <thead>
                <tr>
                    <th>TicketID</th>
                    <th>Status</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Requestor</th>
                    <th>Age</th>
                    <th>Last Modified</th>
                    <th>Commands</th>
                </tr>
            </thead>
            <tbody>
                {% for t in tickets %}
                <tr>
                    <td>{{ t.ticket_id }}</td>
                    <td>{{ t.status }}</td>
                    <td>{{ t.title }}</td>
                    <td>{{ t.category }}</td>
                    <td>{{ t.username }}</td>
                    <td>{{ t.days_open }} days</td>
                    <td>{{ t.last_update_dt }}</td>
                    <td>
                        <button type="button" onclick="window.location.href='{{ url_for('view_ticket', ticket_id=t.ticket_id) }}'">View</button> <!--TODO Open Ticket-->
                    </td>
                </tr>
                    {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}
